body{
    background-color: bisque;
}

#bingo {
    margin: auto;
    border: 1px solid black;
    height: 75vh;
    width: 75vh;
    table-layout: fixed;
    text-align: center;
}

#bingo td, th{
    border: 1px solid black;
    width: 20%;
    height: 20%;
}

.cellButton{
    text-decoration: none;
    margin: 0;
    cursor: pointer;
    color:black;

    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    text-align: center;
    display: inline-block;
    width: 100%;
}